<?xml version="1.0"?>
<config>
    <modules>
        <Company_Customer>
            <version>1.0.1</version>
        </Company_Customer>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <customer_grid>Company_Customer_Block_Adminhtml_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <company_customer>
                <class>Company_Customer_Helper</class>
            </company_customer>
        </helpers>
        <models>
            <company_customer>
                <class>Company_Customer_Model</class>
            </company_customer>
        </models>
        <resources>
            <company_customer_setup>
                <setup>
                    <module>Company_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </company_customer_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <company_customer>
                    <file>company_customer.xml</file>
                </company_customer>
            </updates>
        </layout>
        <translate>
            <modules>
                <Company_Customer>
                    <files>
                        <default>Company_Customer.csv</default>
                    </files>
                </Company_Customer>
            </modules>
        </translate>
    </frontend>
</config>